@font-face {
    font-family: "Arial";
    src: url("/event_report_badge/static/src/fonts/arial.ttf");
    font-weight: regular;
    font-style: normal;
}
@font-face {
    font-family: "Arial";
    src: url("/event_report_badge/static/src/fonts/arialbd.ttf");
    font-weight: bold;
    font-style: normal;
}
